<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.esraahosnynanodegreeprocohorte">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/add_contact"
        android:label="Contact"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Intro.ContactDetails"
            android:label="Contact Details" />
        <activity android:name=".Intro.MainActivity"
            android:label="Contact" />
        <activity
            android:name=".Intro.Splash"
            android:icon="@drawable/add_contact"
            android:label="Contacts">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
S
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Email.Register"
            android:label="Register" />
        <activity
            android:name=".Email.Login"
            android:label="Login" />
        <activity android:name=".Email.resetPasswordActivity"
            android:icon="@drawable/forget_pass"/>
        <activity
            android:name=".Email.mail"
            android:label="Email"
            android:icon="@drawable/email"/>
        <activity
            android:name=".SMS.SMSActivity"
            android:label="SMS"
            android:icon="@drawable/smile1"/>

        <service android:name=".Notifications.smsFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".Notifications.smsFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".Intro.Settings" />
        <activity
            android:name=".NoteBook.Diary"
            android:label="Diary" />
        <activity
            android:name=".Call.CallActivity"
            android:label="Call"
            android:icon="@drawable/phonecall1"/>
        <activity android:name=".SMS.EmotionsActivity" />

    </application>

</manifest>